<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/change_pass.css" />

    <title>Change Password</title>
</head>
<body>
<div class="full-screen-container">
    <div class="login-container">

        <h1 class="login-title">Change Password</h1>
        
        <form th:action="@{/profile/change-password}" method="post">
            <div class="input-group">
                <label for="currentPassword">Current Password:</label>
                <input type="password" id="currentPassword" name="currentPassword" required><br>
            </div>
            
            <div class="input-group">    
                <label for="password">New Password:</label>
                <input type="password" id="password" name="password" required ><br>
            </div>
            
            <div class="input-group">
                <label for="confirmPassword">Confirm New Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required ><br>
            </div>
            
            <button type="submit" class="login-button">Change Password</button>
        </form>
    </div>
</div>
</body>
</html>
