body {
    font-family: Arial, sans-serif;
    background-image: url("../images/background.jpg");
    color: #ccc;
}
.project-information {
    text-align: left;
}

.priority-low {
    color: green;
}

.priority-medium {
    color: yellow;
}

.priority-high {
    color: red;
}