<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Users</title>
    <style>
        /* Style for clickable rows */
        tbody tr:hover {
            background-color: #f5f5f5;
            cursor: pointer;
        }
    </style>

    <script>
    function redirectToUserDetails(userId) {
        window.location.href = '/admin/user_details/' + userId;
    }
</script>
</head>
<body>
<h1>Admin - Users</h1>
<table>
    <thead>
    <tr>
        <th>Username</th>
        <th>Roles</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}" th:onclick="'redirectToUserDetails(\'' + ${user.id} + '\')'">
        <td th:text="${user.username}"></td>
        <td>
            <span th:each="role, roleIndex : ${user.roles}">
                <span th:text="${role.name}"></span>
                <span th:if="${!roleIndex.last}">, </span>
            </span>
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>
