<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin.css" />

    <title>Admin - Users</title>
    <style>
        /* Style for clickable rows */
        
    </style>

    <script>
    function redirectToUserDetails(userId) {
        window.location.href = '/admin/user_details/' + userId;
    }
    function redirectToTeam(teamId) {
        window.location.href = '/team/' + teamId;
    }
</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>

    <div th:insert="~{fragments/navbar :: navbar}"></div>
<div class="container">
    <h1>Admin - Users</h1>
    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>Team</th>
            <th>Roles</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}" th:onclick="'redirectToUserDetails(\'' + ${user.id} + '\')'"></td>
            <td>
                <span th:if="${user.team != null}" th:text="${user.team.name}" th:onclick="'redirectToTeam(\'' + ${user.team.id} + '\')'"></span>
                <span th:unless="${user.team != null}">Not in a team</span>
            </td>
            <td>
            <span th:each="role, roleIndex : ${user.roles}">
                <span th:text="${role.name}"></span>
                <span th:if="${!roleIndex.last}">, </span>
            </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>



</body>
</html>
