<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>

    <title>Dashboard</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="/admin">Admin</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/profile">Profile</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/dashboard">Dashboard</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/projects">Projects</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/teams">Teams</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/logout">Logout</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

    <div class="container-fluid px-0">
      <div class="container project-container">
        <h2>Welcome to Dashboard, <span th:text="${username}"></span></h2>
        <div>
          <h3>
            Active projects <span th:text="${#lists.size(projects)}"></span>
          </h3>
          <ul>
            <li class="project-item"
              th:each="project : ${projects}"
              th:attr="onclick='location.href=\'/project/' + ${project.id} + '\''"
            >
              <!-- Display project properties -->
              <div>
                <p>
                  <strong>Name:</strong> <span th:text="${project.name}">Test</span>
                </p>
                <p>
                  <strong>Job Number:</strong>
                  <span th:text="${project.jobNumber}">Test</span>
                </p>
                <p>
                  <strong>Status:</strong>
                  <span th:text="${project.status}">Test</span>
                </p>
                <p>
                  <strong>Priority:</strong>
                  <span
                    th:text="${project.priority}"
                    th:class="${project.priority == T(com.ipsos.entities.enums.Priority).HIGH ? 'priority-high' : project.priority == T(com.ipsos.entities.enums.Priority).MEDIUM ? 'priority-medium' : 'priority-low'}"
                  >
                  Test</span>
                </p>
                <p>
                  <strong>Due Date:</strong>
                  <span th:text="${project.dueDate}">Test</span>
                </p>
                <p>
                  <strong>User:</strong>
                  <span th:text="${project.user?.username}">Test</span>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
