<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Project Details</title>
    <link rel="stylesheet" href="/css/project.css" />
  </head>
  <body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>
    <div class="container-fluid">
      <div class="row">
        <!-- Left column for project information -->
        <div class="col-md-6">
          <div class="project-information">
            <h2>Project Information</h2>
            <p> Name: <span id="nameSpan" th:text="${project.name}"></span>
            </p>
            <p> Job Number: <span id="jobNumberSpan" th:text="${project.jobNumber}"></span>
            </p>
            <p> Status: <span id="statusSpan" th:text="${project.status}"></span>
            </p>
            <p> Priority: <span id="prioritySpan" th:text="${project.priority}" th:class="${project.priority == T(com.ipsos.entities.enums.Priority).HIGH ? 'priority-high' : project.priority == T(com.ipsos.entities.enums.Priority).MEDIUM ? 'priority-medium' : 'priority-low'}"
            ></span>
            </p>
            <p> Due Date: <span id="dueDateSpan" th:text="${project.dueDate}"></span>
            </p>
            <button id="editButton" onclick="toggleEdit()">Edit</button>

            <form id="editForm" th:action="@{/project/editProject}" method="post" style="display: none;">
              <label for="editName">Name:</label>
              <input type="text" id="editName" name="name" th:value="${project.name}" required /><br>

              <input type="hidden" id="editProjectId" name="projectId" th:value="${project.id}" />
              <input type="hidden" id="editProjectUser" name="projectUser" th:value="${project.user}" />

              <label for="editJobNumber">Job Number:</label>
              <input type="text" id="editJobNumber" name="jobNumber" th:value="${project.jobNumber}" /><br>

              <label for="editStatus">Status:</label>
              <select id="editStatus" name="status">
                <option value="NOT_STARTED" th:selected="${project.status == 'NOT_STARTED'}">Not started</option>
                <option value="IN_PROGRESS" th:selected="${project.status == 'IN_PROGRESS'}">In Progress</option>
                <option value="COMPLETED" th:selected="${project.status == 'COMPLETED'}">Completed</option>
              </select><br>

              <label for="editPriority">Priority:</label>
              <select id="editPriority" name="priority">
                <option value="LOW" th:selected="${project.priority == 'LOW'}">Low</option>
                <option value="MEDIUM" th:selected="${project.priority == 'MEDIUM'}">Medium</option>
                <option value="HIGH" th:selected="${project.priority == 'HIGH'}">High</option>
              </select><br>

              <label for="editDueDate">Due Date:</label>
              <input type="date" id="editDueDate" name="dueDate" th:value="${project.dueDate}" required /><br>

              <!-- Display buttons within the form -->
              <button type="submit">Save</button>
            </form>
            <!-- Delete project button -->
            <form th:action="@{/project/delete}" method="post">
              <input type="hidden" name="projectId" th:value="${project.id}" />
              <button type="submit">Delete Project</button>
            </form>
            <!-- Assigned user information and form -->
            <p th:if="${project.user != null}"> Assigned User: <span th:text="${project.user?.username}"></span>
            </p>
            <p th:unless="${project.user != null}"> No user assigned to this project </p>
            <form th:action="@{/project/assignUser}" method="post">
              <input type="hidden" name="projectId" th:value="${project.id}" />
              <label for="username">Assign User:</label>
              <select id="username" name="username">
                <option th:each="user : ${users}" th:value="${user.username}" th:text="${user.username}"></option>
              </select>
              <button type="submit">Assign User</button>
            </form>
          </div>
        </div>
        <!-- Right column for task management -->
        <div class="col-md-6">
          <div>
            <h2>Tasks</h2>
            <ul>
              <!-- Iterate over tasks and display them -->
              <li th:each="task : ${project.tasks}">
                <span>Description: <span th:text="${task.description}"></span>
                </span>
                <br />
                <span>Status: <span th:text="${task.status}"></span>
                </span>
                <br />
                <span>Priority: <span th:text="${task.priority}" th:class="${task.priority == T(com.ipsos.entities.enums.Priority).HIGH ? 'priority-high' : task.priority == T(com.ipsos.entities.enums.Priority).MEDIUM ? 'priority-medium' : 'priority-low'}"></span>
                </span>
                <br />
                <!-- Add buttons for editing or deleting tasks -->
                <button onclick="showEditForm('${task.id}')">Edit</button>
                <form th:action="@{/project/deleteTask}" method="post">
                  <input type="hidden" name="taskId" th:value="${task.id}" />
                  <input type="hidden" name="projectId" th:value="${project.id}" />
                  <button type="submit">Delete</button>
                </form>
                <!-- Edit form (hidden by default) -->
                <form id="editForm-${task.id}" th:action="@{/project/editTask}" method="post" style="display: none">
                  <input type="hidden" name="taskId" th:value="${task.id}" />
                  <input type="hidden" name="projectId" th:value="${project.id}" />
                  <label for="description-${task.id}">Description:</label>
                  <input type="text" id="description-${task.id}" name="description" th:value="${task.description}" />
                  <br />
                  <label for="status-${task.id}">Status:</label>
                  <select id="status-${task.id}" name="status">
                    <option value="NOT_STARTED" th:selected="${task.status == 'NOT_STARTED'}"> Not started </option>
                    <option value="IN_PROGRESS" th:selected="${task.status == 'IN_PROGRESS'}"> In Progress </option>
                    <option value="COMPLETED" th:selected="${task.status == 'COMPLETED'}"> Completed </option>
                  </select>
                  <br />
                  <label for="priority-${task.id}">Priority:</label>
                  <select id="priority-${task.id}" name="priority">
                    <option value="LOW" th:selected="${task.priority == 'LOW'}"> Low </option>
                    <option value="MEDIUM" th:selected="${task.priority == 'MEDIUM'}"> Medium </option>
                    <option value="HIGH" th:selected="${task.priority == 'HIGH'}"> High </option>
                  </select>
                  <br />
                  <button type="submit">Save</button>
                </form>
              </li>
            </ul>
            <!-- Form to add a new task -->
            <form th:action="@{/project/addTask}" method="post">
              <input type="hidden" name="projectId" th:value="${project.id}" />
              <label for="description">Description:</label>
              <input type="text" id="description" name="description" placeholder="Enter task description" required />
              <label for="status">Status:</label>
              <select id="status" name="status">
                <option value="NOT_STARTED">Not started</option>
                <option value="IN_PROGRESS">In progress</option>
                <option value="COMPLETED">Completed</option>
              </select>
              <label for="priority">Priority:</label>
              <select id="priority" name="priority">
                <option value="LOW">Low</option>
                <option value="MEDIUM">Medium</option>
                <option value="HIGH">High</option>
              </select>
              <button type="submit">Add Task</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      function showEditForm(taskId) {
    var editForms = document.querySelectorAll("[id^='editForm-']");
  for (var i = 0; i < editForms.length; i++) {

    var form = editForms[i];
    if (form.id === `editForm-${taskId}`) {
      form.style.display = 'block';
    } else {
      form.style.display = 'none';
    }
  }
}

function toggleEdit() {
  var editForm = document.getElementById('editForm');
  var editButton = document.getElementById('editButton');

  if (editForm.style.display === 'none') {
    editForm.style.display = 'block';
    editButton.style.display = 'none';
  } else {
    editForm.style.display = 'none';
    editButton.style.display = 'inline';
  }
}
    </script>
  </body>
</html>