<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Projects</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Your Brand</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teams">Teams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<h1>Projects</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Job Number</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Assigned User</th>
    </tr>
    </thead>
    <tbody>
    <!-- Iterate over each project -->
    <tr th:each="project : ${projects}" th:attr="onclick='location.href=\'/project/' + ${project.id} + '\''" style="cursor:pointer;">
        <!-- Link to project details page -->
        <td><span th:text="${project.name}"></span></a></td>
        <!-- Display job number -->
        <td><span th:text="${project.jobNumber != null ? project.jobNumber : 'N/A'}"></span></td>
        <!-- Display status -->
        <td><span th:text="${project.status}"></span></td>
        <!-- Display priority -->
        <td><span th:text="${project.priority}"></span></td>
        <!-- Display assigned user or "not assigned" -->
        <td><span th:text="${project.user != null ? project.user.username : 'Not Assigned'}"></span></td>
    </tr>
    </tbody>
</table>
</body>
</html>
