<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <title>Teams</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Your Brand</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/teams">Teams</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<h1>Teams</h1>

<button id="addTeamButton" onclick="toggleForm()">Add Team</button>

<div id="teamForm" style="display: none;">
  <form id="addTeamForm" action="/teams/add" method="post">
    <label for="teamName">Team Name:</label>
    <input type="text" id="teamName" name="teamName" required>
    <button type="submit">Submit</button>
  </form>
</div>

<table>
  <thead>
  <tr>
    <th>Team Name</th>
    <th>Team Leader</th>
  </tr>
  </thead>
  <tbody>
  <!-- Iterate over teams to display each team and its leader -->
  <tr th:each="team : ${teams}" th:onclick="'redirectToTeamDetails(\'' + ${team.id} + '\')'" style="cursor: pointer">
    <td th:text="${team.name}"></td>
    <td th:text="${team.teamLeader != null ? team.teamLeader.username : 'No Leader'}"></td>
  </tr>
  </tbody>
</table>

<script>
    function redirectToTeamDetails(teamId) {
      window.location.href = "/team/" + teamId;
    }

    function toggleForm() {
        var form = document.getElementById("teamForm");
        form.style.display = (form.style.display === "none") ? "block" : "none";
    }
</script>

</body>
</html>
